root = "."
tmp_dir = "tmp"

[build]
  bin = "/bin/true"
  cmd = "GOOS=js GOARCH=wasm go build -o web/main.wasm ./impl/web"
  delay = 1000
  exclude_dir = ["test", ".dev", "res", "bin", "misc", "stories", "web"]
  kill_delay = "0s"
  log = "build-errors.log"

[color]
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = true
  keep_scroll = true