root = "."
tmp_dir = "tmp"

[build]
  args_bin = ["test/hello.z3"]
  bin = "./tmp/gozm"
  cmd = "go build -o ./tmp/gozm cmd/cli/main.go"
  delay = 1000
  exclude_dir = ["test", ".dev", "res", "bin"]
  kill_delay = "0s"
  log = "build-errors.log"

[color]
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = true
  keep_scroll = true