body,
html {
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #ddd;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  background-color: #0c4432;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  padding: 1rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

pre {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  display: inline-block;
  width: 90%;
  height: 75vh;
  overflow-y: scroll;
  background-color: #1b1d1c;
  color: #49db75;
  padding: 1rem;
  margin: 0.5rem 3rem;
  font-size: 1.4rem;
  white-space: pre-wrap;
  user-select: none;
}

input[type="text"] {
  -webkit-appearance: none;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 3rem;
  font-size: 2rem;
  background: #000000;
  color: #49db75;
  outline: none;
  border-radius: 5px;
}
