body,
html {
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #ddd;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #0c4432;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

pre {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  display: inline-block;
  width: 90%;
  height: 100%;
  overflow-y: hidden;
  background-color: #1b1d1c;
  color: #49db75;
  padding: 1rem;
  margin: 0.2rem 3rem;
  font-size: 1.4rem;
  white-space: pre-wrap;
  user-select: text;
  flex-grow: 1;
  cursor: text;
  border: inset 6px #646464;
}

input[type="text"] {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  width: 91%;
  padding: 0.2rem;
  margin: 0.2rem 3rem;
  font-size: 1.8rem;
  background: #000000;
  color: #49db75;
  outline: none;
  border: inset 6px #646464;
}

@media (max-width: 768px) {
  pre {
    margin: 0rem;
    width: 100%;
    overflow-y: hidden;
  }

  input[type="text"] {
    margin: 0rem;
    width: 100%;
  }
}
