:root {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #bbad92;
  color: #2a2a2a;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #c4b59a;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #9a8b70;
}

pre {
  display: inline-block;
  width: 80%;
  height: 100%;
  overflow-y: hidden;
  padding: 1rem;
  margin: 0.8rem auto;
  white-space: pre-wrap;
  user-select: text;
  flex-grow: 1;
  cursor: text;
  border: inset 8px #dbceb4;
  box-sizing: border-box;
  border-radius: 3px;
}

input[type="text"] {
  width: 80%;
  padding: 0.5rem;
  letter-spacing: 1px;
  margin: 0.2rem auto 0.8rem auto;
  outline: none;
  border: solid 8px #8b7d5f;
  box-sizing: border-box;
  border-radius: 3px;
}

@media (max-width: 768px) {
  pre {
    margin: 0rem;
    width: 99%;
    overflow-y: hidden;
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
  }

  input[type="text"] {
    margin: 0rem;
    width: 99%;
  }
}

nav a {
  color: #2a2a2a;
  text-decoration: none;
  margin-right: 1rem;
}

nav a:hover {
  color: #000;
}

.menu {
  background-color: #b8a989;
  padding: 0.5rem;
  border: solid 2px #8b7d5f;
  color: #2a2a2a;
  font-size: 1.2rem;
  width: 200px;
  position: absolute;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  display: none;
  cursor: pointer;
  z-index: 10;
}

.menuItem {
  padding: 0.5rem 0.5rem;
}

.menuItem:hover {
  background-color: #cebfa5;
  color: #000;
}

hr {
  border: none;
  border-top: 2px solid #8b7d5f;
  margin: 0.5rem 0;
}

.disabled {
  color: #777 !important;
  pointer-events: none;
}

.themeRetroGlow {
  font-family: "Workbench", "Courier New", Courier, monospace;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  background-color: #000a00;
  color: #31f731;
  font-size: 1.5rem;
  line-height: 1.8rem;
  box-shadow: inset 0 0 60px rgba(0, 255, 0, 0.3), inset 0 0 120px rgba(0, 255, 0, 0.1);
  text-shadow: 0 0 3px #33ff33, 0 0 8px rgba(51, 255, 51, 0.7), 0 0 12px rgba(51, 255, 51, 0.5);
}

.themeRetroPlain {
  font-family: "Workbench", "Courier New", Courier, monospace;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  background-color: #000a00;
  color: #31f731;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.themeSimple {
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  background-color: #000000;
  color: #dfdfdf;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 0.4rem;
}

.themeRetroGlowAmber {
  font-family: "Workbench", "Courier New", Courier, monospace;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  background-color: #110900;
  color: #ffb71d;
  font-size: 1.5rem;
  line-height: 1.8rem;
  box-shadow: inset 0 0 60px rgba(126, 88, 17, 0.4), inset 0 0 120px rgba(122, 84, 14, 0.2);
  text-shadow: 0 0 3px #ffb347, 0 0 8px rgba(255, 165, 0, 0.8), 0 0 12px rgba(255, 165, 0, 0.6);
}
